@import '../Aurora/downloads/Aurora.theme.css';
:root {
  /*Color Variables*/
  --main-color: linear-gradient(
  	150deg,
  	var(--gradient1),
  	var(--gradient2)
  );
  /*Accent Color of the Theme*/
  --gradient1: #3ecc9c;
  /*First Gradient Color*/
  --gradient2: #185a9d;
  /*Second Gradient Color*/
  --hover-color: rgb(67, 206, 162);
  /*Secondary Accent of the Theme*/
  --main-color-faded: rgba(67, 206, 162, 0.2);
  /*Faded Main Color*/
  /*Backdrop Variables*/
  --backdrop: url(https://i.imgur.com/xcjXx3E.jpg);
  /*Normal Backdrop*/
  --backdropblurred: url(https://i.imgur.com/ExNrzGV.jpg);
  /*Darker/Blurred Version of Backdrop : Will be removed in the future (see backdrop-filter)*/
  --backdropeffect: blur(15px);
  --backdropeffectclr: rgba(0, 0, 0, 0.28);
  --backdrop-darkness: transparent;
  /*Brightness of var(--backdrop);*/
  /*Roundness Variables*/
  --chat-avatar-roundness: 5px !important;
  /*Roundness of chat avatars*/
  --media-roundness: 50px !important;
  /*General Roundness*/
  --guild-hovered-roundness: 12px !important;
  /*Roundness of servers on hover*/
  /*Status Variables*/
  --online: #43b581 !important;
  /*Color When someone is Online*/
  --idle: #faa61a !important;
  /*Color When someone is Idle*/
  --dnd: #f04747 !important;
  /*Color When someone is in Do Not Disturb*/
  --offline: #636b75 !important;
  /*Color When someone is offline*/
  --invisible: #747f8d !important;
  /*Color When someone is Invisible*/
  --streaming: #643da7 !important;
  /*Color When someone is Streaming*/
}

/* site=/watch?v=* */
ytd-watch-flexy[theater] #player-theater-container.ytd-watch-flexy,
ytd-watch-flexy[fullscreen] #player-theater-container.ytd-watch-flexy,
.html5-video-player.ytp-autonav-endscreen-cancelled-state {
  background: transparent !important;
}

.ytp-gradient-bottom {
  display: none !important;
}

.ytp-chrome-bottom {
  background: var(--backdropeffectclr) !important;
  backdrop-filter: var(--backdropeffect) !important;
  border-radius: 15px;
  border-radius: 0 !important;
  width: inherit !important;
  left: 0 !important;
}

yt-chip-cloud-renderer,
.html5-video-player.ytp-autonav-endscreen-cancelled-state,
ytd-item-section-renderer.style-scope.ytd-watch-next-secondary-results-renderer,
#container.ytd-searchbox,
#masthead-container {
  background: var(--backdropeffectclr) !important;
  backdrop-filter: var(--backdropeffect) !important;
  border-radius: 15px;
}

#container.ytd-searchbox {
  border: hidden !important;
}

yt-chip-cloud-renderer,
#masthead-container {
  border-radius: 0 !important;
}

ytd-item-section-renderer.style-scope.ytd-watch-next-secondary-results-renderer {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

yt-related-chip-cloud-renderer.style-scope.ytd-watch-next-secondary-results-renderer,
#secondary.ytd-watch-flexy {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

yt-chip-cloud-renderer #right-arrow.yt-chip-cloud-renderer#right-arrow-button,
yt-chip-cloud-renderer #left-arrow.yt-chip-cloud-renderer#right-arrow-button {
  background: linear-gradient(90deg, var(--backdropeffectclr), rgba(0, 0, 0, 0.658)) !important;
}
yt-chip-cloud-renderer #right-arrow.yt-chip-cloud-renderer#left-arrow-button,
yt-chip-cloud-renderer #left-arrow.yt-chip-cloud-renderer#left-arrow-button {
  background: linear-gradient(-90deg, var(--backdropeffectclr), rgba(0, 0, 0, 0.658)) !important;
}
yt-chip-cloud-renderer #right-arrow.yt-chip-cloud-renderer:before,
yt-chip-cloud-renderer #left-arrow.yt-chip-cloud-renderer:before {
  background: linear-gradient(90deg, #0000, var(--backdropeffectclr));
}
yt-chip-cloud-renderer,
yt-chip-cloud-renderer * {
  --yt-spec-general-background-a: var(--backdropeffectclr) !important;
}

#primary.style-scope.ytd-watch-flexy {
  background: var(--backdropeffectclr) !important;
  backdrop-filter: var(--backdropeffect) !important;
  border-radius: 15px;
  border-radius: 0 !important;
  padding-left: 10px;
}

ytd-app,
body,
html {
  background: #0000 !important;
}

.auroraBackground {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -10000;
  width: 100vw;
  height: 100vh;
  display: block;
  background: var(--backdrop) !important;
}

* {
  --yt-spec-brand-background-primary: #0000 !important;
}

tp-yt-iron-dropdown {
  background: var(--backdropeffectclr) !important;
  backdrop-filter: var(--backdropeffect) !important;
  border-radius: 15px;
  border: hidden !important;
}

/* site=/ */
body.mainPage #contentContainer.tp-yt-app-drawer,
body.mainPage .style-scope.ytd-page-manager,
body.mainPage ytd-post-renderer[uses-compact-lockup],
body.mainPage #contentContainer.tp-yt-app-drawer,
body.mainPage ytd-mini-guide-renderer {
  background: var(--backdropeffectclr) !important;
  backdrop-filter: var(--backdropeffect) !important;
  border-radius: 15px;
  border-radius: 0 !important;
}
body.mainPage #contentContainer.tp-yt-app-drawer,
body.mainPage ytd-mini-guide-renderer,
body.mainPage ytd-mini-guide-entry-renderer {
  --app-drawer-content-container_-_background-color: transparent;
}
body.mainPage #chips-wrapper.ytd-feed-filter-chip-bar-renderer {
  top: 0 !important;
}
body.mainPage ytd-mini-guide-entry-renderer,
body.mainPage #guide-content.ytd-app {
  background: #0000 !important;
}
body.mainPage #contentContainer.tp-yt-app-drawer,
body.mainPage .style-scope.ytd-page-manager,
body.mainPage ytd-post-renderer[uses-compact-lockup],
body.mainPage #contentContainer.tp-yt-app-drawer,
body.mainPage ytd-mini-guide-renderer {
  background: var(--backdropeffectclr) !important;
  backdrop-filter: var(--backdropeffect) !important;
  border-radius: 15px;
  border-radius: 0 !important;
}

/*# sourceMappingURL=youtube.css.map */
